<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .row {
        margin-top: 2%;
    }
    .footer {
  background-image: url("https://imgs.search.brave.com/OUna0VmxX8zvj0AOOMva0fNhECEvQyPUfvMv4JXv194/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC8xUEZIeVl5/LmpwZw");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px; 
    color: white;
    bottom: 0;
    width: 100%;}
    .row-content {
      margin: 0px auto;
      padding: 50px 0px; 
    display: block;}
    body {
        overflow-x: hidden;
    }
</style>
<body>
    <div>
        <%- include("header", {active: "Home", doctname: doctname}); %>
    </div>
    <div>
        <img src="/home.png" width="100%"/>
    </div>
    <h3 style="margin-top: 2%; font-weight: bold;" >
        <center>
            Explore Our Centres of Excellence
        </center>
    </h3>
    <div class="row">
        <div class="col-12 offset-2 col-md-3 offset-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/cardio.png" alt="Card image cap">
            </div>
        </div>
        <div class="col-12 offset-2 col-md-3 offset-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/gastro.png" alt="Card image cap">
            </div>
        </div>
        <div class="col-12 offset-2 col-md-3 offset-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/neuro.png" alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-12 offset-2 col-md-3 offset-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/ortho.png" alt="Card image cap">
            </div>
        </div>
        <div class="col-12 offset-2 col-md-3 offset-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/pulmo.png" alt="Card image cap">
            </div>
        </div>
        <div class="col-12 offset-2 col-md-3 offset-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/radio.png" alt="Card image cap">
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="offset-3 offset-md-5">
            <p>© Copyright 2022 Health Vault</p>
        </div>
    </footer>
</body>
</html>