<style>
    .footer {
  background-image: url("https://imgs.search.brave.com/OUna0VmxX8zvj0AOOMva0fNhECEvQyPUfvMv4JXv194/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC8xUEZIeVl5/LmpwZw");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px; 
    color: white;
    bottom: 0;
    width: 100%;}
  .fab {
    font-size: 175%;
  }
  .fas {
    font-size: 175%;
  }
  i {
    color: white;
  }
  a {
    color: white;
  }

</style>
<footer class="footer ">
    <div class="container">
        <div class="row">             
            <div class="col-4 offset-4 offset-md-2 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/patientDasboard">Home</a></li>
                    <li><a href="/patientDashboard/bookappointment">Book Appointment</a></li>
                    <li><a href="/patientDashboard/myappointments">My Appointmnets</a></li>
                    <li><a href="/patientDashboard/contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 offset-md-2 align-self-center">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fab fa-google-plus-square fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook-square fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fab fa-linkedin fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fab fa-twitter fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fab fa-youtube fa-lg"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fas fa-envelope fa-lg"></i></a>
                </div>
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright 2022 Health Vault</p>
            </div>
       </div>
    </div>
</footer>